section {
    max-width: 1100px;
    margin: auto;
    padding: 70px 20px;
    scroll-margin-top: 60px;
}

section h2 {
    text-align: center;
    color: #005c97;
    font-size: 2rem;
    margin-bottom: 40px;
}

.intro {
    max-width: 800px;
    margin: -20px auto 40px;
    text-align: center;
}